.layered-images-canvas {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: #d3d3d3;
}

.layered-images-img {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    height: 250px;
    width: 250px;
}

#choosers img {
    border: #d3d3d3 solid thin;
    height: 100px;
    width: 100px;
}